In [2]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [4]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")
df_buses_11=pd.read_csv("df_buses_11.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10, df_buses_11],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 96,Swift Deluxe Non AC Air Bus (2+2),00:35,07:35,07h 00m,INR 567,9 Seats available,3.3\n37,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
1,KSRTC (Kerala) - 170,Swift Deluxe Non AC Air Bus (2+2),01:25,08:35,07h 10m,INR 567,18 Seats available,2.4\n40,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
2,KSRTC (Kerala) - 1377,AC MULTI AXLE,02:20,09:55,07h 35m,INR 729,11 Seats available,2.3\n11,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
3,KSRTC (Kerala) - 368,AC MULTI AXLE,03:05,10:35,07h 30m,INR 729,4 Seats available,2.1\n29,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
4,KSRTC (Kerala) - 788,Super Fast Non AC Seater (2+3),07:00,15:20,08h 20m,INR 432,35 Seats available,4.2\n36,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
...,...,...,...,...,...,...,...,...,...,...
4679,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,12:30,17:15,04h 45m,INR 755.58,6 Seats available,4.8\n13,https://www.redbus.in/bus-tickets/bokakhat-to-...,Bokakhat to Dibrugarh
4680,Bashudev Transline (Under ASTC),A/C Seater (2+1),12:35,18:00,05h 25m,INR 550,5 Seats available,3.5\n11,https://www.redbus.in/bus-tickets/bokakhat-to-...,Bokakhat to Dibrugarh
4681,Purple Wings Coaches,A/C Seater / Sleeper (2+1),00:45,05:00,04h 15m,630,44 Seats available,4.3,https://www.redbus.in/bus-tickets/bokakhat-to-...,Bokakhat to Dibrugarh
4682,MOON TRAVELS,AC Seater (2+2),09:45,15:20,05h 35m,INR 550,22 Seats available,2.4\n5,https://www.redbus.in/bus-tickets/bokakhat-to-...,Bokakhat to Dibrugarh
4683,Christina Travels,NON A/C Seater (2+2),11:00,16:30,05h 30m,650,37 Seats available,2.8\n7,https://www.redbus.in/bus-tickets/bokakhat-to-...,Bokakhat to Dibrugarh

## Data cleaning

In [5]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4684 entries, 0 to 4683
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4680 non-null   object
 1   Bus_type         4680 non-null   object
 2   Start_time       4680 non-null   object
 3   End_time         4680 non-null   object
 4   Total_duration   4680 non-null   object
 5   Price            4680 non-null   object
 6   Seats_Available  4680 non-null   object
 7   Ratings          4680 non-null   object
 8   Route_link       4684 non-null   object
 9   Route_name       4684 non-null   object
dtypes: object(10)
memory usage: 366.1+ KB

In [6]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       567.00
1       567.00
2       729.00
3       729.00
4       432.00
         ...
4679    755.58
4680    550.00
4681    630.00
4682    550.00
4683    650.00
Name: Price, Length: 4684, dtype: float64

In [7]:
# Ensure all values in Ratings are strings to use string operations
Final_df["Ratings"] = Final_df["Ratings"].astype(str)

# Clean and convert Ratings to numeric
Final_df["Ratings"] = Final_df["Ratings"].str.replace("New", "", regex=False)
Final_df["Ratings"] = Final_df["Ratings"].str.strip()
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')

# Avoid chained assignment by assigning the result directly
Final_df["Ratings"] = Final_df["Ratings"].fillna(0)

In [8]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4684 entries, 0 to 4683
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4680 non-null   object
 1   Bus_type         4680 non-null   object
 2   Start_time       4680 non-null   object
 3   End_time         4680 non-null   object
 4   Total_duration   4680 non-null   object
 5   Price            4680 non-null   float64
 6   Seats_Available  4680 non-null   object
 7   Ratings          4684 non-null   float64
 8   Route_link       4684 non-null   object
 9   Route_name       4684 non-null   object
dtypes: float64(2), object(8)
memory usage: 366.1+ KB

In [9]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [11]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [13]:
# change dataframe to csv
path=r"E:\Redbus_Project1\Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

## Create a mysql database

In [14]:
mydb=mysql.connector.connect(host='localhost', user='root', password='Chwe@2106', database='red_bus_details', use_pure=True)

In [15]:
mycursor=mydb.cursor()

In [16]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS red_bus_details")

In [18]:
# Table Creation
mycursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [19]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

mycursor.executemany(insert_query, data)

mydb.commit()

print("Values inserted successfully")

Values inserted successfully